mixin form(title,subtitle,id)
	.form.section(id=id)
		.form__title=title
		.form__subtitle=subtitle
		form.form__input(method="post" action="./send.php")
			input(type="text" placeholder="ФИО" name="name")
			input(type="tel" placeholder="Телефон" name="phone")
			input(type="submit").form__submit
mixin navigation(cl)
	nav.navigation(class=cl)
		a(href="/").navigation__logo
			img(src="./img/logo.png", alt="logo")
		ul.navigation__list
			li.navigation__item.hvr-grow.link(data-target="description") Преимущества
			li.navigation__item.hvr-grow.link(data-target="comparative") Сравнения
			li.navigation__item.hvr-grow.link(data-target="applying") Типы панелей
			li.navigation__item.hvr-grow.link(data-target="beforeAfter") Галерея
			li.navigation__item.hvr-grow.link(data-target="products") Оплата
			li.navigation__item.hvr-grow.link(data-target="reviews") Отзывы
		.navigation__phone
			a(href="tel:+78432400238").hvr-pulse
				span +7 (843) 
				span 240 02 38
			button.link(data-target="form") Заказать звонок
		.navigation__burger.burger
			.burger__lines
				.burger__line.burger__line1
				.burger__line.burger__line2
				.burger__line.burger__line3

mixin contacts(cl)
	ul.contacts(class=cl)
		li.contacts__item.hvr-grow
			a(href="#")
				img(src="./img/viber.png", alt="viber")
		li.contacts__item.hvr-grow
			a(href="#")
				img(src="./img/whatsapp.png", alt="whatsapp")
		li.contacts__item.hvr-grow
			a(href="#")
				img(src="./img/telegram.png", alt="telegram")